<!DOCTYPE html>
<html>
<head>
  <title>Treehouse</title>
<h1>  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %><h1>Welcome To TreeHouse</h1>
</head>
<body>

<div class="navbar navbar-fixed-top"><div class="navbar-inner"><div class = "container"> <a href = "#" class="brand">TreeHouse</a><ul class="nav"><li><%= link_to "All Statuses", statuses_path %><li><%= link_to "Exit Website", statuses_path %>
</div></div></div>
<div class ="container">

<%= yield %></div>

</body>
<br>(C)2013 ABCDEFcorp</html>
